# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Environments
env.py
venv/
env/

# Python
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db